# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
/bin/
/obj/

# Output of the Go coverage tool
coverage.out

# IDE/editor specific
.vscode/
.idea/
*.swp